.inputBox{

    height: 35px;
    font-size: 16px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:  rgba(255, 255, 255, 0.137);
    border-radius: 7px;
    color: rgb(192, 185, 185);
    margin-top: 15px;
    border: none;
    width: 260px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    cursor:pointer;
}

.inputBox:focus{

    cursor: text;

}

#signUp{

    width: 200px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top:-15px;

}

#inputBoxes{

   text-align: center;
   background-color: rgba(0, 0, 0, 0.807);
   width: 400px;
   height: 310px;
   place-self: center;
   border-radius: 30px;
   padding-top: 10px;
   position: relative;
   top:120px;
   padding-top: 60px;
   opacity: 90%;
}

body{

   background-image: url(/bgimage.jpg);
   background-repeat: no-repeat;
   background-position-y:50% ;
   background-position-x:50%;

}

#signUpTitle{

    margin-top: -45px;
    margin-bottom: 5px;

}

#signUpTitle{

    color: #E50914;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    position: relative;
    top: 5px;

}

#signUp{

    background-color: #E50914;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}
