@charset "UTF-8";

@charset "UTF-8";

.inputBox{

    height: 35px;
    font-size: 16px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:  rgba(255, 255, 255, 0.137);
    border-radius: 7px;
    color: rgb(192, 185, 185);
    margin-top: 10px;
    border: none;
    width: 260px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    cursor:pointer;
}

.inputBox:focus{

    cursor: text;

}

#signUp{

    width: 200px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#inputBoxes{

   text-align: center;
   background-color: rgba(0, 0, 0, 0.807);
   width: 450px;
   height: 530px;
   place-self: center;
   border-radius: 30px;
   padding-top: 10px;
   margin-top:-80px;
   padding-top: 60px;
   opacity: 90%;
}

body{

   background-image: url(/bgimage.jpg);
   background-repeat: no-repeat;
   background-position:cover;
   background-position-y: 60%;
   background-position-x: 60%;

}

#signUpTitle{

    margin-top: -45px;
    margin-bottom: 5px;

}

#signUpTitle{

    color: #E50914;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-top: -50px;    
    margin-bottom: 20px;
}

#signUp{

    background-color: #E50914;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}

#startDate{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left:-75px;
}

#plansLabel{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left:-55px;
}

option{
    color:white;
    background-color:#e50914f3;
}

#genderLabel{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    left:-70px;
}

.gender{
    position:relative;
    left:-40px;
    accent-color: green;
}

.genderLabels{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    left:-20px;
}

#male{
    position: relative;
    left:-48px;
}

#seniorCitizen{
    position:relative;
    left:-60px;
    accent-color:green;
}

#seniorCitizenLabel{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    left:-40px;
}

#terms{
    position:relative;
    left:-25px;
    margin-left:27px;
    accent-color: green;
}

#termsLabel{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

#typeOfInsuranceLabel{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    left:-38px;
}

#maleLabel{
    position:relative;
    left:-30px;
}
